body {
  margin: 0;
  background: #2f2f2f;
  color: #ddd;
  font-family: 'Sora', sans-serif;
}
nav {
  position: fixed;
  width: -webkit-fill-available;
  background: #eeeeee;
  height: 75px;
}
nav ul {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0px 50px;
  height: 100%;
}
nav ul li {
  flex: 1;
  display: flex;
}
nav ul li a {
  color: #2b2b2b;
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
nav ul li a:hover {
  background: #00000021;
}
a {
  color: #ddd;
}
.app {
  padding-top: 95px;
  text-align: center;
}
.name {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 3px -3px 4px #787878;
}
.logo {
  box-shadow: 0px 0px 20px 0px black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #555;
}

.app ul {
  list-style: none;
}

/* Screen is small - probably a tablet */
@media only screen and (max-width: 700px) {
  nav {
    display: none;
  }
}
